@color-red:rgb(230,67,60);
@color-red-20:rgba(230,67,60,.2);
@color-green:rgb(9,187,7);
@color-green-20:rgba(9,187,7,.2);
@color-blue:rgb(87,107,149);
@color-blue-20:rgba(87,107,149,.2);
@color-blue-10:rgba(87,107,149,.1);
@color-black:rgb(0,0,0);
@color-black-semi:rgb(53,53,53);
@color-black-grey:rgb(136,136,136);
@color-black-light:rgb(178,178,178);
@color-kuaixiao: rgb(255, 87, 10);

.color-red{color:@color-red !important;};
.color-red-20{color:@color-red-20 !important;};
.color-green{color:@color-green !important;};
.color-green-20{color:@color-green-20 !important;};
.color-blue{color:@color-blue !important;};
.color-blue-20{color:@color-blue-20 !important;};
.color-blue-10{color:@color-blue-10 !important;};
.color-black{color:@color-black !important;};
.color-black-semi{color:@color-black-semi !important;};
.color-black-grey{color:@color-black-grey !important;};
.color-black-light{color:@color-black-light !important;};
.color-kuaixiao{color:@color-kuaixiao !important;};

.bg-color-red{background-color:@color-red !important;};
.bg-color-red-20{background-color:@color-red-20 !important;};
.bg-color-green{background-color:@color-green !important;};
.bg-color-green-20{background-color:@color-green-20 !important;};
.bg-color-blue{background-color:@color-blue !important;};
.bg-color-blue-20{background-color:@color-blue-20 !important;};
.bg-color-blue-10{background-color:@color-blue-10 !important;};
.bg-color-black{background-color:@color-black !important;};
.bg-color-black-semi{background-color:@color-black-semi !important;};
.bg-color-black-grey{background-color:@color-black-grey !important;};
.bg-color-black-light{background-color:@color-black-light !important;};
.bg-color-kuaixiao{background-color:@color-kuaixiao !important;};

